@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
*{
    padding: 0;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ropa Sans','sans-serif';
    font-style: normal;   
}
/*Font-Size Menu*/
#menuContainer h1{
    font-size: 30px;
}
#menuContainer p{
    font-size: 10px;
}
/*Font-Size Menu*/

/*setas Banner*/
.setas{
    background-color: rgba(192, 192, 192, 0.315);
    height: 50px ;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    font-size: 50px;
    color: white;
}

/*setas Banner*/
#menuContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:0.7em;
    padding-bottom: 0.7em;
    padding-left: 1em;
    padding-right: 1em ;
    margin-bottom: 1em;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25 );
}   

#logoContainer{
    display: flex;
    align-items: center;
    color: #888888;
    ;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#setImagem{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    
}
#setImagem img{
    width: 100%;
    position: relative;
    
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em ;
   margin-bottom: 1em;
}

#navegaçao{
    display: inline-block;
    position: absolute; 
}

#propagandas{
    display: flex;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em ;
    padding-top: 1em;
    width: 100% ;
    padding-bottom: 3em;
}

#exemplo1 img{
    width: 100%
}

#exemplo1{
    width: 45%;
    background-color: #EEEEEE;
}
#exemplo1 .preço1{
    color: #888888;
}
.info1{
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
    font-size: 25px;
}
.botao1{
    width: 3em;
    height: 30px;
    border-radius: 10.5px;
    font-size: 25px;
    border-style: none;
    background-color:#51D275;
    color: #ffffff;
}

.lorem1{
    padding-inline:0.7em;
    padding-bottom: 1em;
}
#exemplo2 img{
    width: 100%
    
}

#exemplo2{
    width: 45%;
    background-color: #EEEEEE;
}

.info2{
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
    font-size: 25px; 
}
.botao2{
    width: 3em;
    height: 30px;
    border-radius: 10.5px;
    font-size: 25px;
    border-style: none;
    background-color:#DC9730;
    color: #ffffff;
    
}
.lorem2{
    padding-inline:0.7em;
    padding-bottom: 1em;
}
#exemplo2 .preço2{
    color: #888888;
}
#categorias{
    padding-inline: 3em;
    text-align: center;
}
.titulo{
    padding-bottom: 0.5em ;
}
#categorias img{
    width: 100%;
    height: 20%;
    position: relative;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    background: #C4C4C480;
    opacity: 50%;
}
#categorias .titulo{  
    color: #888888;
}
.industrial{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.industrial a{
    position: absolute;
    color: #ffffff;
}

.modern{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modern a{
    position: absolute;
    color: #ffffff;
}

.classic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.classic a{
    position: absolute;
    color: #ffffff;
}

footer{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 3em;
    line-height: 20px;
    margin-top: 2em;
}

.imgs{
    display: flex;
}

.imgs a{
    padding: 0.5em;
}


